@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 
body{
    line-height: 1.5;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.header{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
    height: 100px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    a{
        text-decoration: none;
        color:black; 
        padding: 0 20px;
    } 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #0069d9;
}

.aH1 {
    font-size: 1.5em;
    color: black;
    transition: all 0.3s;
    line-height: 55px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.aH1:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}
 
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
ul{
    list-style: none;
}
 
.footer{
    background-color: black;
    padding-bottom: 10px;
    margin-bottom : 0px;
    /* margin-top : 500px; */
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(84, 178, 236);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col a{
    font-size: 16px;
    /* text-transform: capitalize; */
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family:'Times New Roman',  serif;
    font-size: 18px;

}
.footer-col a:hover{
    color: #ffffff;
    padding-left: 8px;
    font-family:'Times New Roman',  serif;
    font-size: 18px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family:'Times New Roman',  serif;
    font-size: 18px;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
    font-family:'Times New Roman',  serif;
    font-size: 18px;
}  
.footer-col .Follow-Us a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
 
 
 
 
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
 
.container1{
    
    margin-bottom: 0px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    p{
        text-align: center;
        color: white;
        /* justify-content: space-evenly; */
        color: rgb(84, 178, 236);
        text-transform: uppercase;
        margin-left: 410px;
        font-size: 18px;
    }
    .img2{

        margin-left: 420px;
        height: 53px;
        width: 53px;
    }
}

.Top{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #232f3e;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    a{
        text-decoration: none;
        color: white;
    }
}
 
.maps{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.818);
    border: 3px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}
